body{
font-family: 'Alegreya SC';
color:Black;
background-image: url('../img/user4.jpg');
background-repeat: repeat;
font-size:18px;
}
.navbar-default,.dropdown-menu
{
	background-color:#5fd9d9;
	border-radius: 30px 1px 30px 1px;
	margin-bottom: 20px;
}

#collapse-menu li a:hover
{
	background-color:rgb(70, 255, 150);
  border-radius: 30px 1px 30px 1px;
	color:white;
}

.onthatpage
{
	background-color:rgb(70, 255, 150);
  border-radius: 30px 1px 30px 1px;
	color:white;
}

#athomepage
{
	background-color:rgb(70, 255, 150);
  border-radius: 30px 1px 30px 1px;

}

.error {color: #FF0000;}

#tableright,#tableleft{
	border: 1px solid black;
}


input[type=text].form-control{
    width: 150px;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    background-color: white;
}

input[type=text]{
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    background-color: white;
    padding: 10px 20px 10px 10px;
	  margin:9px;
}

input[type=submit]{
    width: 100px;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    background-color: white;
    padding: 10px 20px 10px 10px;
		margin:9px;
		color: black;
}

input[type=submit]:hover {
    background-color: lightgreen;
    color: black;
}
.update{
    width: 100px;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    background-color: white;
    padding: 10px 20px 10px 10px;
		margin:9px;
		color: black;
}
.update:hover {
    background-color: lightgreen;
    color: black;
}

.del{
	width: 100px;
	border: 2px solid #ccc;
	border-radius: 15px;
	font-size: 14px;
	background-color: white;
	padding: 10px 20px 10px 10px;
	margin:9px;
	color: black;
}

.del:hover {
    background-color: red;
    color: black;
}

input[type=password]{
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    background-color: white;
    padding: 10px 20px 10px 10px;
		margin:9px;
}

#myDIV {

		background-color:rgba(101, 246, 233, 0.54);
    font-size: 22px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}
.item{
	text-align: center;
	width:100%;
}
.itempic{
	width:50%;
}
.button2:hover {
    background-color: #008CBA;
    color: white;
}
input[type="number"]{
width:60px;
height:50px;
}

footer{
	text-align:center;
	background-color:lightblue;
	font-size:15px;
}
h1 span
{
	background-color:rgba(213, 213, 213, 0.37);
  font-family:'Almendra SC';
  font-size:60px;
	text-align: center;
}
#template
{
	background-color:rgba(213, 213, 213, 0.37);
	text-align: justify;
	font-size: 20px;
}
.fa
{
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 12px 2px;
  border-radius: 50%;
}

#address1
{
  width:100%;
  height:100%;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: rgb(244, 144, 12);
  color: white;
}
#cate
{
	padding-right:60px;
	font-size:20px;
}
#cate li a:hover
{
	background-color:rgba(60, 30, 241, 0.7);

}
#content
{
	background-color:rgba(255, 255, 255, 0.40);
}
#picture
{
	width:90%;
	height:90%;
}
#catalog
{
	width:20%;
	border-left:2px solid black;
	border-top:2px solid black;
	border-right:2px solid black;
	border-bottom:2px solid black;
	padding-bottom: 10px;
	padding-top:10px;

}

#frameheader,#windowheader,#mirrorheader,#doorheader
{
	color:blue ;
	font-size: 30px;
}
